@model List<DoAnLTW_Nhom4.Models.Review>;

@if (Model != null && Model.Count > 0) // Dùng Count thay vì Any()
{
    <h3>Đánh giá sản phẩm</h3>
    <ul class="review-list">
        @foreach (var review in Model)
        {
            <li>
                <strong>Người dùng: @review.UserName</strong> - @review.Rating ⭐
                <small>Ngày đăng:@review.CreatedAt.ToString("dd/MM/yyyy")</small>
                <p>Nội dung: @review.Comment</p>
                
            </li>
        }
    </ul>
}
else
{
    <p>Chưa có đánh giá nào cho sản phẩm này.</p>
}
